*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
}
.Container{
	height: 600px;
	width: 600px;
	background-color: grey;
	margin: 0 auto;
}

.row{

	display: flex;
}
.white{
	height:75px;
	width: 75px;
	font-size: 65px;
	text-align: center;
}
.black{
	background-color: white;
}